/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html{
    font-size: 1.125em; /* 18px / 16px */
    line-height:1.22em;
    padding: 1.2em 0.75em;
}


body {
    background-color: lightblue;
}

h1{
    font-size: 1.73em; /* 31.104 px */
    line-height: 1.22em;
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
*/
/*
li {
    float: left;
}
*/

/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 174.5px;
    text-decoration: none;
}
*/

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

/*
li {
    border-right: 1px solid #bbb;
}
*/
li:last-child {
    border-right: none;
}
p  {
    color: purple;
    font-family: serif;

}
img{
    width: 100%;
    height: 500px;
    background-image: url('pic1.jpg');
    background-repeat: no-repeat;
    background-size: contain;

}

/* navigation styles */
#navigation{
    text-align: center;
    width: 100%;
}

#nav li{
    display: block;
}

@media screen and (min-width: 35.5em) {
    img{
        width:80%;
        padding-left: 10%;
    }
}